#all{
    width: 1700px;
    margin: 0 auto;
}
#header{
    width: 100%;
    height: 150px;
    background-color: #009999;

}
#all > section > * {

    float: left;
    min-height: 600px;
    margin-top: 10px;
}
#all > section > article{
    width: 64%;
    background-color: green;
    margin-left:17px;

}
#all > section > aside{
    width: 35%;
    background-color: pink;
}

footer{
    width: 100%;
    min-height:150px;
    float:left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: blue;

}
